/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

@layer components {
    .counter-card {
        @apply border border-gray-200 rounded-md my-2 md:mx-2 shadow-lg flex-grow flex flex-col items-center p-2 text-center;
    }

    .departures-arrivals {
        @apply table-auto border-collapse w-full;

        tr {
            @apply border-b border-gray-200;
        }

        td, th {
            @apply p-2;
        }

        thead {
            @apply text-xl;
        }
    }

    .departure-label {
        @apply bg-gradient-to-r from-green-200 text-green-500 fill-current;

        svg {
            @apply h-4 w-4 mx-auto;
        }
    }

    .return-label {
        @apply bg-gradient-to-r from-red-200 text-red-500 fill-current;

        svg {
            @apply h-4 w-4 mx-auto;
        }
    }
}
